@import "@/assets/Styles/fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black;
}
ul{
    list-style: none;
}
input {
    outline: none;
}
body{
    background: linear-gradient(90deg, rgb(22, 17, 27), #001210);
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     position: relative;
     padding:30px 0px;
     max-height: 1000px;
    &__banner{
    position: absolute;
    top:0;
    width: 100%;
    max-height: 1000px;
    z-index: -1;
    mask-image: linear-gradient(to top, transparent 0.01%, black);
   }
    &__banner-2{
        position: absolute;
        width: 100%;
        top:50%;
        max-height: 1000px;
        z-index: -1;
    }

    &__container{
        max-width: 1200px;
        width: 100%;

        margin:0 auto;
        padding: 0px 50px;
        &-title{
            margin-left: 60%;
            font-size: 52px;
            margin-top: 100px;
            font-family: "Protest-Regular";
            font-size: 38px;
            font-weight: bold;
            line-height: 50px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 100%;
            background-image: linear-gradient(35deg, #ffffff, #ffffff, #0423c3, );
            text-transform: uppercase;
            animation: 2s neon-3 alternate-reverse infinite;
            filter: drop-shadow(2px 2px 3px #000000);
            span{
                font-family:'AlayaRoza';
                font-size: 42px;
            }
            @media screen and (max-width:768px) {
                margin-left: 20%;
            }
            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: column;
                margin-left: 0px;
                text-align: center;
              }
              @media screen and (max-width:480px) {
                font-size: 30px;
              }
              
        }
        .logo{
            margin-top: 100px;   
            margin-left: 60%;  
            @media screen and (max-width: 768px) {
               display: flex;
               flex-direction: column;
               margin: 0px;
               text-align: center;
            }
              .logo__name-text {
                background-image: url(https://i.gifer.com/origin/52/52395a49c46de2dd302cf2036724c9b7_w200.gif);
                background-size: 25%;
                color: rgba(148, 148, 148, 0.2);
                -moz-background-clip: text;
                -webkit-background-clip: text;
                text-transform: uppercase;
                font-size: 52px;
                margin-top: 100px;
                font-family: "Protest-Regular";
                font-size: 38px;
                font-weight: bold;
                line-height: 50px;
                letter-spacing: 1px;
                line-height:2;
                filter: drop-shadow(3px 3px 5px #ffffff);
                @media screen and (max-width:480px) {
                    font-size: 32px;
                }
              }
              /* styling my button */
              
              .white-mode {
                text-decoration: none;
                padding: 7px 10px;
                background-color: #122;
                border-radius: 3px;
                color: #FFF;
                transition: 511s ease-in-out;
                position: absolute;
                left: 15px;
                bottom: 15px;
                font-family: "Montserrat";
              }
              
              .white-mode:hover {
                background-color: #FFF;
                color: #122;
              }
              .logo__title-text {
                background-image: url(https://i.pinimg.com/originals/09/3a/2c/093a2ca8c22d2e4670a4573ea862fe25.gif);
                background-size:70%;
                color: rgba(104, 104, 104, 0.2);
                -moz-background-clip: text;
                -webkit-background-clip: text;
                font-size: 60px;
                font-family:'AlayaRoza';
                font-weight: bold;
                line-height: 50px;
                margin-top: -25px;
                letter-spacing: 1px;
                line-height:2;
                filter: drop-shadow(3px 3px 5px #ffffff);
                @media screen and (max-width:480px) {
                    font-size: 42px;
                }
              }
              /* styling my button */
              
              .white-mode {
                text-decoration: none;
                padding: 7px 10px;
                background-color: #122;
                border-radius: 3px;
                color: #FFF;
                transition: 511s ease-in-out;
                position: absolute;
                left: 15px;
                bottom: 15px;
                font-family: "Montserrat";
              }
              
              .white-mode:hover {
                background-color: #FFF;
                color: #122;
              }
        }
    }
}

.nav{
    &__container{
        max-width: 800px;
        width: 100%;   
        ul{
            display: flex;
            color:white;
             
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            @media screen and (max-width:768px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap:10px;
              }

            li{
                padding:5px 10px;
                text-transform: uppercase;
                a{
                    color:whitesmoke;
                    filter:drop-shadow(1px 1px 1px #000000);
                }
            }
            .router-link-active{
                background: linear-gradient(90deg, #ee7752, #F64444);
                color:rgb(238, 237, 237);
                background-size: 400% 400%;
                animation: gradient 10s ease infinite;
                transform: translate3d(0, 0, 0);
                box-shadow: 0px 0px 1px 1px #5d0000;
                padding:5px 10px;
                text-transform: uppercase;
            }
        }
    }
}

.main{
    margin-top: 50px;
    position: relative;
    padding:0px 20px;
    @media screen and (max-width:768px) {
        padding:0px;
      }
    flex-grow: 1;
    &__container{
        max-width: 1200px;
        border:1px solid black;
        margin:0 auto;
        box-shadow: 0px 0px 100px 5px #000000;
        backdrop-filter: blur(5px);
        border-radius: 8px;
    }

}

.footer{
    width: 100%;
    background:linear-gradient(180deg, rgb(0, 0, 0, 0.01), #000000);
    padding:100px 0px;
    &__container{
        max-width: 1200px;
        margin:0 auto;
       &-title{
        color:rgb(162, 158, 158);
        font-size: 22px;
        text-align: center;
       }
    }
    
}

@import "@/components/Pages/aboutpages.scss";
@import "@/components/Pages/contactpages.scss";
@import "@/components/Pages/homepages.scss";
@import "@/components/Pages/myprojectpages.scss";
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@keyframes neon-2 {
    from {
        text-shadow:
            0 0 10px #000000,
            0 0 15px #00594d,
            0 0 10px #00856f;
    }

    to { 
    }
}
@keyframes neon-3 {
    from {
        text-shadow:
            0 0 10px #000000,
            0 0 15px #f5d5d5,
            0 0 10px #00f8e7;
            
    }

    to { 
    }
}
@keyframes neon-1 {
    from {
        text-shadow:
       
            0 0 7px #00c2c2,
            0 0 5px #ffffff;
    }

    to { 
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


